body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.input-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: black;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-left: auto;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 20px;
}

.column {
  width: 45%;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 5px 10px;
  margin: 5px auto;
  border: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  color: white;
}

button {
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  border-style: solid;
  border-color: white;
}

#reset-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #bad5fc;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

*{
background-color: black;
  font-size: 35px;
}

h2{
  color: white;
}

input{
  color: white;
  width: 200px;
}

span{
  color: white;
  padding: 5px 10px;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: auto;
  width: 5px;
  background-color: white;
  height: 900px;
}