body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  padding: 20px;
  background-color: black;
  color: white;
}

.input-container {
  width: 90%;
  display: flex;
  justify-content: space-around;
  padding: 5px;
  background-color: black;
  position: fixed;
  bottom: 0;
  z-index: 1000;
  border-radius: 4px;
}

.input-container div {
  display: flex;
  align-items: center;
}

input[type="text"] {
  padding: 5px;
  font-size: 14px;
  margin-right: 10px;
  width: 150px;
  background-color: black;
  color: white;
  border: 1px solid white;
}

.container {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.column {
  width: 45%;
  text-align: center;
  flex: 1;
  margin-right: 20px;
}

.column:last-child {
  margin-right: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 15px 0 0;
}

li {
  padding: 0 10px;
  margin: 5px auto;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 275px;
  height: auto;
  background-color: black;
  color: white;
  font-weight: bold;
}

button {
  padding: 3px 5px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 4px;
  background-color: black;
  color: white;
  border: 1px solid white;
}

#reset-button {
  position: fixed;
  bottom: 6px;
  right: 20px;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  z-index: 2000;
}

* {
  font-size: 80px;
}

h2 {
  color: white;
  text-align: center;
  font-size: 48px;
  padding: 0;
  margin: 22px 0 0;
}

.order-number {
  font-weight: bold;
  padding-right: 10px;
}

span {
  color: white;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 5px;
  background-color: white;
  transform: translateX(-50%);
  height: 1200px;
}

.logo-container1 {
  position: absolute;
  top: -27px;
  left: 5%;
  transform: translateX(-50%);
  z-index: 1001;
}

.logo-container2 {
  position: absolute;
  top: -27px;
  right: 0;
  transform: translateX(-50%);
  z-index: 1001;
}

.logo {
  width: 85px;
  height: auto;
}

@media (max-width: 768px) {
  .input-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
  }

  input[type="text"] {
    width: 130px;
    margin: 0 5px;
  }

  .column {
    width: 100%;
  }

  li {
    width: 90%;
    font-size: 10px;
  }

  h2 {
    font-size: 18px;
  }

  .logo {
    width: 50px;
  }
  #reset-button{
  margin-bottom: 10%;
  }
}
